Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: file
